<div id="<%= dom_id seller %>">
  <p>
    <strong>Status:</strong>
    <%= seller.status %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= seller.nome %>
  </p>

  <p>
    <strong>Cardrfid:</strong>
    <%= seller.cardRFID %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= seller.cargo %>
  </p>

  <p>
    <strong>Contador:</strong>
    <%= seller.contador %>
  </p>

  <p>
  <strong>Email:</strong>
  <%= seller.email %>
</p>

</div>